.flex-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .card{
        max-width: 300px;
        border: 1px solid #ccc;
        padding: 15px;
        border-radius: 15px;
        img{
            width: 100%;
            aspect-ratio: 2 / 1;
            object-fit: cover;
            object-position: top;
        }
        & > * :not(img){
            margin-bottom: 10px;
        }
    }
}