*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // height: 100vh;
    padding: 20px;
    button{
        cursor: pointer;
        img{
            max-width: 60px;
            padding: 15px;
        }
    }
}